html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: block;
  background-color: #ffe500;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #b20953;
  font-family: "Sigmar One";
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  margin: .75em .4em;
  color: #b20953;
  font-family: "Sigmar One";
  font-size: 1.875rem;
}

ul {

  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: .5em;
  text-align: center;
}

ul li {
  margin: 0;
  display: inline-block;
  background-color: #b2a212;
  padding: 0;
}

p {
  margin: 0 .3em .5em;
  color: #2f2d13;
  padding: .5em;
}

nav {
  display: block;
  padding: .2em;
}

nav a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  background-color: #b2a212;
  border-radius: 4px;
  margin: 0;
  padding: .4em .5em;
}

nav .current {
  background-color: #b20953;
  padding: .4em .5em;
  margin: 0;
  border-radius: 4px;
}

nav a:hover {
  background-color: #cc1465;
}

img {
  display: block;
  width: 100%;
  margin: .5em;
  max-width: 24em;
  padding: .3em;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .75em;
}
